body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;

}

.MainContainer {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(160deg,#8035f0 0%, #3bd9d9 100%);
  font-family: "Lato";
}
h2 {
  font-size: 150%;
  font-weight: 200;
  text-align: center;
}
.container {
  width: 100%;
  height:25rem;
  max-width:18.75rem;
  border-radius:0.5rem ;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(0.125rem);
  border: 0.625rem solid rgba(255, 255, 255, 0.00625);
  border-right-color: rgba(255, 255, 255, 0.000625);
  border-bottom-color: rgba(255, 255, 255, 0.000625);
  box-shadow: 0 1.25rem 1.875rem rgba(255, 255, 255, 0.05);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-img img {
  width: 120px;
  float: left;
  margin: 0 20px 0 20px;
}